{% extends "base.html" %}

{% block content %}


    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>主机信息列表
                    </h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <p class="text-muted font-13 m-b-30">
                        主机信息列表从MySql读取
                    </p>
                    <table id="datatable" class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th>Private_IP</th>
                            <th>OS</th>
                            <th>CPU</th>
                            <th>Mem(G)</th>
                            <th>Disks(G)</th>
                            <th>IDC</th>
                            <th>Public_IP</th>
                            <th>Status</th>
                            <th>Operation</th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for host in hosts %}
                            <tr>
                                <td>{{ host.private_ip }}</td>
                                <td>{{ host.os_type }}</td>
                                <td>{{ host.cpu_num }}</td>
                                <td>{{ host.mem }}</td>
                                <td>{{ host.disks }}</td>
                                <td>{{ host.idc }}</td>
                                <td>{{ host.public_ip }}</td>
                                <td>{{ host.status }}</td>
                                <td>
                                    <button type="button" id="medit"  class="btn btn-success btn-xs"> Query</button>
                                    <a href="/asset/host_edit/?private_ip={{ host.private_ip }}">
                                        <button type="button" id="medit"  class="btn btn-primary btn-xs"> Edit</button>
                                    </a>
{#                                    <button type="button" id="medit"  class="btn btn-warning btn-xs"> Update</button>#}
                                    <button type="button" id="delete" class="btn btn-danger btn-xs">  Delete</button>
                                </td>

                            </tr>
                        {% endfor %}

                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}

    <script>

        $(".btn-danger#delete").click(function () {
            var ip = $(this).closest("tr").find("td:first").text();
            var flag = confirm("Delete ip : " + ip + "?! Are you sure ?!");
            if (flag == true ){
                window.location.href = "/asset/host_delete/?private_ip=" + ip;
            }

        })

    </script>

{% endblock %}